
<div class="cd-user-modal">
  <div class="cd-user-modal-container">
    <ul class="cd-switcher"></ul>
    <h3 ng-if="params.thanks" class="text-center strong">Thanks, We'll Be in Touch</h3>
    <h3 ng-if="!params.thanks" class="text-center strong">Throw Out PDF Quoting</h3>
    <hr ng-if="!params.thanks" class="intro-divider"/>
    <form name="joinForm" ng-submit="modal.signup()" ng-if="!params.thanks" class="cd-form">
      <div class="col-xs-12">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="firstname" class="control-label">First Name</label>
            <input type="text" focus-me="true" focus-me-timeout="300" placeholder="First Name" ng-model="modal.init_firstname" required="" class="form-control"/>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label for="lastname" class="control-label">Last Name</label>
            <input type="test" focus-me="true" focus-me-timeout="300" placeholder="Last Name" ng-model="modal.init_lastname" required="" class="form-control"/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="text" class="control-label">Company Name</label>
            <input type="text" focus-me="true" focus-me-timeout="300" placeholder="Company" ng-model="modal.operator_name" required="" class="form-control"/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <input type="email" focus-me="true" focus-me-timeout="300" placeholder="E-mail" ng-model="modal.email" required="" class="form-control"/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="tel" class="control-label">Phone</label>
            <input type="tel" focus-me="true" focus-me-timeout="300" placeholder="Phone" ng-model="modal.phone" required="" class="form-control"/>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <label for="text" class="control-label">Zip Code</label>
            <input type="text" focus-me="true" focus-me-timeout="300" placeholder="Zip" ng-model="modal.zip" required="" class="form-control"/>
          </div>
        </div>
        <div style="margin-top: 40px" class="row"><br/>
          <div class="col-xs-12">
            <button type="submit" ng-class="{'disabled':!joinForm.$valid || joinForm.acceptTerms != true }" style="border-radius: 4px" class="btn btn-lg btn-primary btn-block">Sign Up </button>
          </div>
        </div>
        <p class="fieldset">
          <input id="accept-terms" type="checkbox" ng-model="joinForm.acceptTerms" required=""/>
          <label for="accept-terms">I agree to the <a href="/terms" target="_blank">Terms</a> and <a href="/privacy" target="_blank">Privacy Policy</a></label>
        </p>
        <p style="color:#D8000C;" class="fieldset">{{ erorMessage }}</p><a ng-click="$dismiss()" class="cd-close-form"></a>
      </div>
    </form>
  </div>
</div>