
<div class="cd-user-modal">
  <div class="cd-user-modal-container">
    <ul class="cd-switcher"></ul>
    <h3 class="text-center strong">Sign Up with Airvel</h3>
    <form name="joinForm" ng-submit="signup()" class="cd-form">
      <p class="social-login"><span ng-repeat="login in security.externalLogins" class="social-login-{{login.name|lowercase}}"><a ng-click="security.loginWithExternal(login,user)"><i class="fa fa-{{login.name|lowercase}}"></i> {{login.name}}</a></span></p>
      <div class="lined-text"><span>Or</span>
        <hr/>
      </div>
      <p class="fieldset">
        <label for="email" class="image-replace cd-email">Email</label>
        <input id="email" type="email" focus-me="true" focus-me-timeout="300" placeholder="E-mail" ng-model="user.userName" ng-pattern="pattern.email" required="" class="full-width has-padding has-border"/>
      </p>
      <p class="fieldset">
        <label for="firstName" class="image-replace cd-username"><i class="fa fa-scissors"></i>First Name</label>
        <input id="firstName" type="text" placeholder="First Name" ng-model="user.firstName" required="" class="full-width has-padding has-border"/>
      </p>
      <p class="fieldset">
        <label for="lastName" class="image-replace cd-username">Last Name</label>
        <input id="lastName" type="text" placeholder="Last Name" ng-model="user.lastName" required="" class="full-width has-padding has-border"/>
      </p>
      <p class="fieldset">
        <label for="password" class="image-replace cd-password">Password</label>
        <input id="password" type="password" placeholder="Password" ng-model="user.password" required="" class="full-width has-padding has-border"/>
      </p>
      <p class="fieldset">
        <label for="confirmPassword" class="image-replace cd-password">Confirm Password</label>
        <input id="confirmPassword" type="password" placeholder="Confirm Password" ng-model="user.confirmPassword" confirmpassword="user.password" required="" class="full-width has-padding has-border"/>
      </p>
      <button type="submit" ng-class="{'disabled':!joinForm.$valid || joinForm.acceptTerms != true }" style="border-radius: 0px" class="btn btn-lg btn-primary btn-block">Sign in</button>
      <p class="fieldset">
        <input id="accept-terms" type="checkbox" ng-model="joinForm.acceptTerms" required=""/>
        <label for="accept-terms">I agree to the <a href="/terms" target="_blank">Terms</a> and <a href="/privacy" target="_blank">Privacy Policy</a></label>
      </p>
      <p style="color:#D8000C;" class="fieldset">{{ erorMessage }}</p>
      <label class="signup-prompt">Already have an Airvel Account?</label>
      <p style="display:inline"><a href="/login">Login</a></p><a ng-click="$dismiss()" class="cd-close-form"></a>
    </form>
  </div>
</div>