doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content="Focus on flying, we'll focus on everything else")
    meta(name='author', content='Airvel')
    title Airvel Operators 
    // Dependent CSS
    link(href='lib/build.css', rel='stylesheet', type='text/css')
    // Custom CSS
    link(href='css/landing-page.css', rel='stylesheet')
    // Custom Fonts
    link(href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    // Icons
    link(rel="stylesheet" href="fonts/icomoon/style.css")

  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top.topnav(role='navigation')
      .container.topnav
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.topnav(href='#') Start Bootstrap
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#about') About
            li
              a(href='#services') Services
            li
              a(href='#contact') Contact
        // /.navbar-collapse
      // /.container
    // Header
    a(name='about')
    .intro-header
      .container
        .row
          .col-lg-12
            .intro-message
              h1 Focus on flying, we'll focus on everything else
              h3.text-center "Airvel does it all - sales and flight ops management, plus it's the only real marketplace out there" - Relevant User
              hr.intro-divider
              ul.list-inline.intro-social-buttons
                li
                  a.btn.btn-default.btn-lg(href='#')
                    span.icon-heavy-dark
                    span.network-name Join free and Connect with Flyers
      // /.container
    // /.intro-header
    // Page Content
    a(name='services')
    .content-section-b
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | We'll create the relationships 
              br
              | so you can focus on flying
            p.lead
              | We make booking passengers simple by driving them to you.
              br
              br
              |  We partner with organizations interested in chartering flights like collegiate alumni associations, casinos, corporations, luxury hotels conference sponssors, and professional sport associations.
              br
              br
              | Our marketplace gives them a direct connection with you, the operators, so quoting and booking a flight is as simple as one click.
          .col-lg-5.col-lg-offset-2.col-sm-6
            img.img-responsive(src='img/ipad.png', alt='')
      // /.container
    // /.content-section-a
    .content-section-a
      .container
        .row
          .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Beautifully simple, cloud based platform that integrates with your system
            p.lead
              | We built official integrations with the most popular scheduling platforms like FOS, Airplane Manager, and Argus all you need to do is flip a switch to send pricing and availability to the masses.
              br
              br
              |  Never be tied to a terminal again - book flights and manage flight operations from any device, anywhere.
              br
              br
              | We value privacy so customer data is never accessible by Airvel; only you have the ability to add or change data.
          .col-lg-5.col-sm-pull-6.col-sm-6
            img.img-responsive(src='img/dog.png', alt='')
      // /.container
    // /.content-section-a
    .content-section-b
      .container
        .row
          .col-lg-5.col-sm-6
            hr.section-heading-spacer
            .clearfix
            h2.section-heading
              | Gain key insights into quote conversion - book more and book smarter
            p.lead
              | Airvel's operator platform comes with business insights and analytics out of the box.
              br
              br
              |  You'll have complete visibility into converted / missed quotes including turnaround metrics, pricing metrics, and comparison to other operators and aircraft.
              br
              br
              | Get unique insight into actual passengers and events they're traveling to.  Gain high value sales capabilities like targeted advertising and branding opportunities.
          .col-lg-5.col-lg-offset-2.col-sm-6
            img.img-responsive(src='img/phones.png', alt='')
    // last section
    .content-section-b.content_bullets
      .container
        hr.section-heading-spacer
        h2.section-heading And that's just the beginning ... 
        .row
          .col-xs-12
            .col-xs-6
              ul.media-list
                li.media
                  .media-left
                    span.icon-web-app
                  .media-body
                    h3.media-heading Connect from anywhere
                    p.lead
                    | Never be tied to a terminal again - book flights and manage flight operations from any device, anywhere.
            .col-xs-6
              ul.media-list
                li.media
                  .media-left
                    span.icon-web-app
                  .media-body
                    h3.media-heading Connect from anywhere
                    p.lead
                    | Never be tied to a terminal again - book flights and manage flight operations from any device, anywhere.
          .col-xs-12
            .col-xs-6
              ul.media-list
                li.media
                  .media-left
                    span.icon-web-app
                  .media-body
                    h3.media-heading Connect from anywhere
                    p.lead
                    | Never be tied to a terminal again - book flights and manage flight operations from any device, anywhere.
            .col-xs-6
              ul.media-list
                li.media
                  .media-left
                    span.icon-web-app
                  .media-body
                    h3.media-heading Connect from anywhere
                    p.lead
                    | Never be tied to a terminal again - book flights and manage flight operations from any device, anywhere.

    a(name='contact')
    .banner
      .container
        .row
          .col-lg-6
            h2 Connect to Start Bootstrap:
          .col-lg-6
            ul.list-inline.banner-social-buttons
              li
                a.btn.btn-default.btn-lg(href='https://twitter.com/SBootstrap')
                  i.fa.fa-twitter.fa-fw
                  span.network-name Twitter
              li
                a.btn.btn-default.btn-lg(href='https://github.com/IronSummitMedia/startbootstrap')
                  i.fa.fa-github.fa-fw
                  span.network-name Github
              li
                a.btn.btn-default.btn-lg(href='#')
                  i.fa.fa-linkedin.fa-fw
                  span.network-name Linkedin
      // /.container
    // /.banner
    // Footer
    footer
      .container
        .row
          .col-lg-12
            ul.list-inline
              li
                a(href='#') Home
              li.footer-menu-divider ⋅
              li
                a(href='#about') About
              li.footer-menu-divider ⋅
              li
                a(href='#services') Services
              li.footer-menu-divider ⋅
              li
                a(href='#contact') Contact
            p.copyright.text-muted.small Copyright © Airvel 2014-2016. All Rights Reserved
    // Dependent JS
    script(src='lib/build.js')

    // Custom Angular JS
    script(src='scripts/config.js')
